@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Code:wght@300;400;500;600;700&display=swap");
:root {
  --crimson: "Inter";
  --serif: "Barlow Condensed";
  --logo: "old english text mt";
  --mono: "Source Code Pro";
  --main-color: #ffffff;
  --white: #ffffff;
  --stroke: #c2c2c2;
  --main-text: #000000;
  --yellow: #ce8f08;
  --unhover: #646464;
  --logo-color: invert(0%) sepia(100%) saturate(7434%) hue-rotate(211deg)
    brightness(115%) contrast(115%);

  --shadow: #0000004b;
  --alert: #f8888828;
  --alert-text: #ff0000a1;
  --price-gradient: radial-gradient(
    100% 100% at 49.86% 0%,
    #5be12b 0%,
    #286513 100%
  );
  --user-gradient: radial-gradient(
    100% 100% at 49.86% 0%,
    #2b74e1 0%,
    #132565 100%
  );
}
