.main {
  display: grid;
  place-content: center;
  width: 100%;
  height: 100vh;
  font-family: var(--crimson);
}
.main .logo {
  text-transform: capitalize;
  font-size: 3rem;
  font-family: var(--logo);
}
.main .logo span {
  font-size: 1.2rem;
}
.main section {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 10px;
}
.main section article {
  padding: 30px;
  border: solid 1px var(--stroke);
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
.main section .users {
  grid-area: 6 / 1 / 11 / 21;
}
.main section .bookings {
  position: relative;
  height: 100px;
  display: flex;
  grid-area: 1 / 1 / 6 / 17;
}
.main section .price {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  grid-area: 1 / 17 / 6 / 21;
  background: var(--main-text);
  color: var(--white);
  box-shadow: inset 0 1px 0 0 var(--white);
}
.main section .price:hover{
  cursor: pointer;
}
.main section .price h1{
text-transform: capitalize  ;
}
.main section .price h2{
  font-size: 1.5rem;
  font-style: italic;
}
.main section .price .price_drop{
  position: absolute;
  display: flex;
  align-items: center;
  border-radius:5px;
  padding: 10px;
  left: 125px;
  top: 0;
  bottom: 0;
  color: var(--main-text);
  border: solid 1px var(--stroke);
  background: var(--price-gradient);
  box-shadow: inset 0 1px 0 0 var(--white);
  color: var(--white);
  font-style: italic;
  animation: tool 300ms;
}
@keyframes tool {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}