.services_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  font-family: var(--crimson);
}
.services_main .services_title{
  width: 100%;
  padding: 10px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-bottom: 50px;
  font-family: var(--crimson);
}
.services_main .services_title h1{
  font-size: 2rem;
  text-transform: capitalize;
}
.services_main .services_title::after{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 80px;
  border: dashed 1px var(--stroke);
}
.services_main .table tr {
  border: solid 1px black;
}
.services_main .table th {
  border: solid 1px var(--main-text);
  background: var(--main-text);
  color: var(--main-color);
  box-shadow: inset 0 1px 0 0 var(--white);
  text-transform: capitalize;
  padding: 0 50px;
}
.services_main .table td {
  text-align: center;
  text-transform: capitalize;
}
.services_main .table_container{
  position: relative;
  overflow: auto;
  height: 500px;
  padding: 0 20px;
}
.services_main .table{
  border-radius: 5px;
  margin-top: -20px;
}
.services_main .table .name_row th{
  background: transparent;
  border: none;
  outline: none;
  color: transparent;
  box-shadow:  0 0 0  0 transparent;
}
.table_th th{
  border: solid 1px var(--main-text);
  background: var(--main-text);
  color: var(--main-color);
  box-shadow: inset 0 1px 0 0 var(--white);
  text-transform: capitalize;
  padding: 0 50px;
}
