@import "./globals.css";
.calendar-bg {
  background: white;
}
.booking-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto 1fr;
  grid-template-rows: auto 1fr;
  background: white;
}
.booking-container .global-container {
  display: flex;
  grid-column: 2/2;
  gap: 30px;
  align-items: flex-start;
  font-family: var(--serif);
}
.booking-container .global-container .calendar-container {
  display: flex;
  flex-direction: column;
  transition: 300ms;
}
.booking-container .book-title {
  grid-column: 1/3;
  background: var(--main-color);
  border: solid 1px var(--stroke);
  color: var(--main-text);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  font-family: var(--serif);
  text-transform: capitalize;
  color: var(--yellow);
  background: white;
}
.main-booking-container {
  display: flex;
}
.main-booking-container .book-info {
  display: flex;
  gap: 20px;
  border-radius: 5px;
  background: var(--main-color);
  border: solid 1px var(--stroke);
  color: var(--main-text);
  align-items: start;
  justify-content: flex-start;
  color: black;
  background: white;
  padding: 20px;
}
.main-booking-container .book-info .price {
  display: flex;
  flex-direction: column;
  font-family: var(--serif);
  gap: 20px;
}
.main-booking-container .book-info .price button {
  display: flex;
  align-items: end;
  justify-content: center;
  padding: 10px;
  background: var(--main-color);
  color: var(--main-text);
  border: solid 1px var(--main-text);
  font-family: var(--serif);
  text-transform: capitalize;
  transition: 300ms;
}
.main-booking-container .book-info .price button:disabled {
  background: var(--main-colo);
  color: var(--main-text);
}
.main-booking-container .book-info .price button:disabled:hover {
  scale: 100%;
  cursor: not-allowed;
}
.main-booking-container .book-info .price button:hover {
  scale: 110%;
  cursor: pointer;
}
.main-booking-container .book-info h1 {
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: bold;
  font-style: normal;
  text-align: start;
}
.main-booking-container .book-info .book-date,
.book-time,
.book-services {
  border: dashed 1px var(--stroke);
  padding: 10px;
  border-radius: 5px;
  font-family: var(--serif);
}
.main-booking-container .book-info .book-date .date-select {
  text-align: end;
  font-style: italic;
  font-size: 2rem;
}
.main-booking-container .book-info .book-time h2 {
  text-align: end;
  font-style: italic;
  font-size: 2rem;
}
.main-booking-container .book-info .book-services .services-select {
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: normal;
  text-align: end;
}
.main-booking-container .book-info .services-price .booking-price {
  color: var(--yellow);
  font-family: var(--serif);
  font-size: 3rem;
}
.main-booking-container .book-info button {
  display: flex;
}
.services {
  display: flex;
  flex-direction: column;
  height: 303px;
  gap: 20px;
  padding: 50px;
  background: var(--main-color);
  border: solid 1px var(--stroke);
  color: var(--main-text);
  border-radius: 5px;
  grid-row: 2/2;
  grid-column: 1/2;
  overflow: auto;
}
.services button span {
  font-weight: 700;
  padding: 0 10px;
  color: var(--yellow);
}
.services button {
  outline: none;
  padding: 20px;
  background: var(--main-color);
  border: solid 1px var(--stroke);
  color: var(--main-text);
  font-family: var(--serif);
  text-transform: capitalize;
  border-radius: 5px;
  transition: 300ms;
  box-shadow: 0 0;
}
.services button:hover {
  transform: scale(120%);
}
.booking-container .global-container .calendar-container .title {
  display: flex;
  text-transform: capitalize;
  justify-content: center;
  font-family: var(--serif);
  color: var(--main-text);
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 30px;
  letter-spacing: -0.05rem;
}
.booking-container .global-container .calendar-container .calendar-box {
  background: var(--main-color);
  border: solid 1px var(--stroke);
  color: var(--main-text);
  border-radius: 5px;
}
.booking-container .global-container .calendar-container .calendar-box span {
  font-family: var(--serif);
  font-weight: 500;
  padding: 10px;
}
.booking-container .global-container .calendar-container .month-changer {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.booking-container .global-container .calendar-container .calendar-body {
  padding: 30px;
  border-radius: 5px;
}
.booking-container
  .global-container
  .calendar-container
  .calendar-box
  .calendar-body
  .days-container
  .days
  th {
  font-size: 0.8rem;
  font-family: var(--serif);
  font-weight: 500;
}
.calendar-body .day-number .day {
  padding: 12px;
  border: solid 1px transparent;
  outline: none;
  font-family: var(--serif);
  font-weight: 500;
  font-size: 1rem;
  background: transparent;
  transition: 300ms;
}
.calendar-body .day-number .day:hover {
  cursor: pointer;
  background: var(--main-color);
  transform: scale(125%);
  color: var(--main-text);
  box-shadow: 0 0 50px 0 var(--shadow);
}
.calendar-body .day-number .past {
  position: relative;
  color: #4d4d4d;
  pointer-events: none;
}
.calendar-body .day-number .day .selected {
  background: #4d4d4d !important;
  display: none;
}
.calendar-body .day-number .past:hover {
  background: transparent;
  box-shadow: none;
  transform: none;
  cursor: not-allowed;
}
.schedule-title {
  grid-column: 1/3;
  grid-row: 3/3;
  background: var(--main-color);
  border: solid 1px var(--stroke);
  color: var(--main-text);
  padding: 20px;
  text-align: center;
  font-family: var(--serif);
  text-transform: capitalize;
  border-radius: 5px;
}
.schedule {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  background: var(--main-color);
  border: solid 1px var(--stroke);
  color: var(--main-text);
  padding: 20px;
  border-radius: 5px;
  grid-row: 4/4;
  grid-column: 1/3;
}
.schedule button:disabled {
  color: #9e9e9e;
  pointer-events: none;
}
.schedule button {
  outline: none;
  padding: 5px;
  border: solid 1px transparent;
  background: transparent;
  font-family: var(--serif);
  transition: 300ms;
  border-radius: 5px;
  font-weight: normal;
  color: var(--main-text);
}
.schedule button:hover {
  cursor: pointer;
  background: var(--main-color);
  color: var(--main-text);
  box-shadow: 0 0 50px 0 var(--shadow);
}
.book-services {
  width: 200px;
}
