@import "./globals.css";
.contact-hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  font-family: var(--crimson);
  background: url("/A3.jpg");
  background-size: cover;
}
.contact-hero .contact-title {
  text-transform: capitalize;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: -0.18rem;
  color: white;
}
.contact-hero .contact-info {
  position: absolute;
  background: #0000006c;
  backdrop-filter: blur(20px);
  border-radius: 5px;
  display: flex;
  bottom: -60px;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  gap: 50px;
  border: solid 1px var(--stroke);
  font-family: var(--crimson);
  text-align: center;
  z-index: 1;
}
.contact-hero .contact-info h1 {
  font-size: 1.2rem;
  color: white;
}
.contact-hero .contact-info h2 {
  font-weight: normal;
  font-style: italic;
  color: white;
}
.contact-hero .contact-info .phone,
.email {
  text-transform: capitalize;
}
.contact-hero .contact-info .email .email-address {
  text-transform: lowercase;
}
.map-container{
position: relative;
z-index: 0;

}
