.dots_bg {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.808);
  z-index: 1;
}
.title {
  color: black !important;
}
.container {
  position: relative;
  background: white;
  padding: 50px;
  border-radius: 5px;
  animation: show 300ms;
  z-index: 8000;
}
@keyframes show {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.container div {
  display: flex;
}
.container div h1 {
  text-transform: capitalize;
  font-weight: 500;
  color: #acacac;
  font-size: 0.9rem;
}
.container kbd {
  background: #e0e0e0;
  box-shadow: 0 2px 0 0 #acacac;
  padding: 5px;
  border-radius: 3px;
  text-shadow: 0 1px 0 white;
  border: solid 1px #acacac;
}
.container .key {
  display: flex;
  gap: 10px;
}
.container .dot_section {
  display: flex;
  gap: 20px;
  align-items: center;
}
.container .dots_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container .close {
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.2rem;
  top: 10px;
  right: 10px;
  position: absolute;
}
