@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Source+Code+Pro:wght@400;700&family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
:root {
  --inter: "Inter", sans-serif;
  --logo: "Old English Text MT", sans-serif;
  --mono: "Source Code Pro", monospace;
  --times: "Times New Roman";
  --ibm: "IBM Plex Sans";
  --main-color: #000000;
  --stroke: #727070;
  --light-text: #ffffff;
  --main-text: #ffffff;
  --unhover-text: #ffffff;
  --logo-color: invert(97%) sepia(0%) saturate(7493%) hue-rotate(79deg)
    brightness(116%) contrast(98%);

  --shadow: #0000004b;
  --alert: #f8888828;
  --alert-text: #ff0000a1;
}
