.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 950px;
  justify-content: center;
  align-items: center;
  font-family: var(--serif);

  background: url(/A1.jpg);
  background-size: cover;
}
.hero h1 {
  text-transform: capitalize;
  top: 250px;
  font-size: 5rem;
  font-family: var(--logo);
  color: var(--main-color);
  font-weight: normal;
  transition: 320ms;
  letter-spacing: -0.3rem;
}
.hero .hero_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 400px;
  border: dashed 1px var(--stroke);
  padding: 50px;
  border-radius: 50%;
}
.hero .hero_text::after {
  position: absolute;
  left: 0;
  right: 0;
  content: "";
  border: dashed 1px var(--stroke);
  z-index: 0;
}
.hero .hero_text .hero_logo {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
}
.hero img {
  width: 100px;
  height: 100px;
  filter: var(--logo-color);
}
.hero .hero_text .phrases {
  text-transform: capitalize;
  position: absolute;
  width: 400px;
  bottom: 380px;
  font-size: 1.5rem;
  font-weight: normal;
  font-family: var(--serif);
  color: var(--main-color);
}
.fade {
  animation: fade 1s;
}
@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.hero .search {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: -20px;
  border: solid 1px var(--stroke);
  padding: 10px;
  border-radius: 5px;
  width: 200px;
  background: var(--main-color);
}
.hero .search input {
  border: none;
  outline: none;
  font-family: var(--serif);
}
.hero .search:hover {
  cursor: pointer;
}
.hero .search span {
  color: var(--unhover);
  text-transform: capitalize;
  font-weight: 500;
  font-size: 0.8rem;
  margin-left: 5px;
}
.services_client {
  background: url("/bg.png");
  width: 100%;
}
.services {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 600px;
  align-items: center;
  gap: 20px;
  font-family: var(--serif);
}
.list_container {
  display: flex;
  justify-content: space-between;
  gap: 200px;
  font-family: var(--serif);
}
.list_container li {
  list-style: none;
  font-size: 2rem;
}
.services div {
  text-transform: capitalize;
  font-size: 1rem;
  overflow: auto;
  font-weight: 500;
}
.services div td {
  padding: 10px 30px;
}
.services div .price {
  font-weight: bold;
  font-family: var(--serif);
  color: var(--yellow);
}
.services_title {
  text-align: center;
  padding-top: 50px;
  text-transform: capitalize;
  font-family: var(--serif);
  font-size: 4rem;
  padding-bottom: 50px;
  font-weight: 700;
}
.testimonios {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: center;
  font-family: var(--serif);
  gap: 20px;
}
.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
.testimonios .title {
}
.testimonios .title h1 {
  font-weight: normal;
  font-size: 4rem;
  font-weight: 700;
  text-transform: capitalize;
}
.testimonios .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px var(--stroke);
  padding: 20px;
  border-radius: 5px;
}
.testimonios .card h1 {
  text-transform: capitalize;
  font-weight: 500;
}
.stars {
  color: var(--yellow);
  font-size: 2rem;
}
