.login-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  font-family: var(--crimson);
  background: rgba(255, 255, 255, 0);
  justify-content: center;
  align-items: center;
  z-index: 0;
  animation: blur-out 0.2s linear both;
}
.login-container .container {
  position: absolute;
  display: flex;

  animation: scale-up-center 0.4s;
  border-radius: 10px;
}
.login-container .container .image {
  display: flex;
  width: 200px;
  padding: 10px;
  border-radius: 20px 0 0 20px;
  background: var(--main-color);
  border: solid 1px var(--stroke);
  color: var(--main-text);
}
.login-container .container .image .bg {
  background: var(--main-text);
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.login-container .form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--main-color);
  border: solid 1px var(--stroke);
  color: var(--main-text);
  padding: 50px;
  border-radius: 5px;
  gap: 10px;
}
.login-container .form-container h1 {
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: -0.07rem;
  color: var(--main-text);
  text-align: center;
}
.login-container .form-container p {
  text-transform: capitalize;
  margin-bottom: 50px;
  font-weight: 500;
  color: var(--main-text);
  text-align: center;
}
.login-container .form-container form {
  width: 300px;
  display: flex;
  width: inherit;
  gap: 20px;
  flex-direction: column;
}
.login-container .form-container .join {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 30px;
  background: var(--main-text);
  color: var(--main-color);
  padding: 10px 20px;
  font-family: var(--crimson);
  text-transform: capitalize;
  font-size: 1rem;
  border: solid 1px var(--main-text);
  outline: none;
}
.login-container .form-container form .name {
  display: flex;
  justify-content: space-between;
  width: inherit;
}
.login-container .form-container form .name input {
  width: 100px;
}
.login-container .form-container form input {
  padding: 10px;
  border: solid 1px var(--stroke);
  border-radius: 5px;
  outline: none;
  color: var(--main-text);
}
.login-container .form-container form input::placeholder {
  color: var(--light-text);
  text-transform: capitalize;
}
.login-container .container .form-container .email_section,
.password_section {
  display: flex;
  flex-direction: column;
}
.login-container .container .form-container .email_section input,
.password_section input {
  padding: 10px;
  font-family: var(--crimson);
  font-size: 1rem;
  border: solid 1px var(--stroke);
  background: var(--main-color);
  outline: none;
}
.login-container .container .form-container .email_section label,
.password_section label {
  text-transform: capitalize;
}
.login-container .container .form-container h6 {
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: normal;
  text-align: center;
  margin-top: 30px;
}
.login-container .container .form-container .close {
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.2rem;
  top: 10px;
  left: 10px;
  position: absolute;
}
.form-container .user-name{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form-container .name, .lastname{
  display: flex;
  flex-direction: column;
}
.form-container .email, .password{
  display: flex;
  flex-direction: column;
}
.form-container .email input, .password input, .name input, .lastname input{
  padding: 10px;
  border: solid 1px var(--stroke);
  outline: none;
  color: var(--main-text);
  font-family: var(--crimson);
}
.container .error-message {
  color: red;
  font-size: 14px;
}


@keyframes blur-out {
  from {
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
    opacity: 0;
  }
  to {
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
  }
}
@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
