@import "./globals.css";
.nav-container {
  position: fixed;
  width: 100%;
  height: 90px;
  z-index: 1;
  font-family: var(--ibm);
  backdrop-filter: blur(20px);
}
.nav-container .user-drop {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 10px;
  top: 70px;
  margin-left: -50px;
  padding: 25px;
  background: var(--main-color);
  border: solid 1px var(--stroke);
  border-radius: 15px;
  color: var(--stroke);
}
.nav-container .user-drop .logout h2 {
  color: var(--alert-text);
}
.nav-container .user-drop div {
  display: flex;
  align-items: center;
  transition: 300ms;
}
.nav-container .user-drop div:hover {
  color: white;
}
.nav-container .user-drop div section {
  padding: 10px;
}
.nav-container .user-drop div:hover {
  cursor: pointer;
}
.nav-container .user-drop div section h2 {
  letter-spacing: -0.01rem;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1rem;
  color: var(--stroke);
}
.nav-container .user-drop div span {
  color: white;
}
.nav-container .user-drop div section h2,
div span:hover {
  color: white;
}
.nav-container .user-drop div:hover ~ .user-drop div section h2 {
  color: var(--main-text);
}
.nav-container .user-drop div section p {
  color: var(--light-text);
  font-size: 0.8rem;
}
.nav-container .user-drop ul {
  display: flex;
  flex-direction: column;
}
.nav-container nav {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  min-height: 90px;
  margin: auto;
}
.nav-container nav ul {
  display: flex;
  align-items: center;
  gap: 25px;
}
.nav-container nav ul .login-buttons {
  display: flex;
  gap: 20px;
}
.nav-container nav ul li {
  list-style: none;
  display: flex;
  align-items: center;
  height: 90px;
}
.nav-container nav ul li .user-name-nav {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 500;
}
.nav-container nav ul li div span {
  display: flex;
  align-items: center;
}
.nav-container nav ul li .logo {
  display: flex;
  width: 40px;
  height: 40px;
  filter: var(--logo-color);
}
.nav-container nav ul li .nav-logo {
  font-family: var(--logo);
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.3rem;
  color: var(--main-text);
}
.nav-container nav ul li .nav-logo:hover {
  color: white;
}
.nav-container nav ul input {
  padding: 10px;
}
.nav-container nav ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--stroke);
  text-transform: capitalize;
  font-weight: 500 !important;
  font-size: 0.8rem;
  transition: 300ms;
}
.nav-container nav ul li a:hover {
  color: white;
}
.nav-container ul li a .nav-login {
  background: transparent;
  color: white;
  padding: 10px;
  border-radius: 50px;
  transition: 400ms;
  border: solid 1px white;
}
.nav-container nav ul li a .nav-login:hover {
  background: transparent;
  color: white;
}
.nav-container ul li a .nav-register {
  background: white;
  color: black;
  padding: 10px;
  border-radius: 50px;
  transition: 400ms;
  border: solid 1px white;
}
