.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  width: 100%;
  font-family: var(--crimson);
  gap: 10px;
  text-transform: capitalize;
}
.profile-container .bookings-global {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
  border-radius: 5px;
}
.profile-container .bookings-global::after{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 270px;
  border-top: dashed 1px var(--stroke);
}
.profile-container .user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
}
.profile-container .user-info h1 {
  font-size: 2rem;
  position: relative;
  font-weight: normal;
}
.profile-container .user-info h2 {
  font-size: 2rem;
}
.profile-container .user-info h3 {
  font-size: 1.3rem;
  text-transform: lowercase;
  font-weight: normal;
  font-style: italic;
}
.profile-container .user-bookings {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 5px;
  height: 400px;
  padding: 10px;
  overflow: auto;
}
.profile-container .bookings-info {
  background: var(--main-color);

  color: var(--main-text);
  gap: 50px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 0 100px;
}
.profile-container .bookings-services {
  border: dashed 1px var(--main-text);
  padding: 10px;
  text-align: end;
}
.price,
.total-price {
  font-family: var(--crimson);
  font-weight: 700;
  font-style: italic;
  font-size: 2rem;
  text-align: end;
}
.total-price {
  color: red;
}
.no-bookings {
  color: var(--main-text);
}
