.profile-container {
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 300px;
  width: 100%;
  font-family: var(--crimson);
  gap: 10px;
  text-transform: capitalize;
}
.profile-container .bookings-global {
  display: flex;
  flex-direction: column;
  border: solid 1px var(--stroke);
  padding: 30px;
  border-radius: 5px;
}
.profile-container .user-info {
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  padding: 20px;
  border-radius: 5px;
}
.profile-container .user-info h1 {
  font-size: 2rem;
  position: relative;
  font-weight: normal;
}
.profile-container .user-info h1::after {
  position: absolute;
  content: "";
  bottom: 5px;
  left: 0;
  width: 100%;
  border-bottom: dashed 1px var(--stroke);
}
.profile-container .user-info h2 {
  font-size: 2rem;
}
.profile-container .user-info h3 {
  font-size: 1.3rem;
  text-transform: lowercase;
  font-weight: normal;
  font-style: italic;
}
.profile-container .user-bookings {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 5px;
  height: 400px;
  padding: 10px;
  overflow: auto;
}
.profile-container .bookings-info {
  background: white;
  border: dashed 1px var(--stroke);
  color: black;
  gap: 50px;
  display: flex;
  border-radius: 10px;
  padding: 20px;
}
.profile-container .bookings-services {
  border: solid 1px black;
  padding: 10px;
  border-radius: 5px;
  text-align: end;
}
.price,
.total-price {
  font-family: var(--crimson);
  font-weight: 700;
  font-style: italic;
  font-size: 2rem;
  text-align: end;
}
.total-price {
  color: red;
}
.no-bookings {
  color: black;
}
